body{
    background-color: dimgrey;
}
.jame{
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav{
    background-color: aliceblue;
    
}
li{display: inline;}
a{padding: auto;color: maroon;}
body{background-color: grey;}